appsettings.json
appsettings.Development.json
GimmeTheLoot.Web/bin/Debug/net9.0/appsettings.Development.json
GimmeTheLoot.Web/bin/Debug/net9.0/appsettings.json
.vs

bin/
obj/

*.user
*.suo
*.userosscache

**/Properties/launchSettings.json
secrets.json
.DS_Store

cert.pfx